.header{
    .hero{
        .container{
            .search {
                min-width: 647px;
            }
        }
    }
}
.navigation {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 136px;
        padding: 35px 0;
        .nav-logo{
            position: static;
            transform: none;
            margin-bottom: 30px;
        }
    }
}
.menu-button{
    display: none;
}
.menu{
    left: 0;
    min-height: 0;
    position: relative;
    min-height: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-menu{
        flex-direction: row;
        &_item:not(:last-child){
            margin: 0 40px 0 0;
        } 
    }
}