* {
    box-sizing: border-box;
    line-height: 1;
    transition: all .1s ease-in;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }