.why{
    background-image: url('../img/WhyBackground.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .images{
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            img{
                width: 258px;
                height: 162px;
            }
            img:first-of-type{
                margin-bottom: 25px;
            }
        }
        .description{
            .why-title{
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                text-transform: capitalize;
                font-family: $aleoFont;
                color: $white;
                margin-bottom: 19px;
            }
            .why-text{
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                text-align: center;
                letter-spacing: 0.1em;
                font-family: $josefinFont;
                color: $white;
            }
            .why-text:first-of-type{
                margin-bottom: 35px;
            }
            .why-text:last-of-type{
                margin-bottom: 25px;
            }
            .why-button{
                position: relative;
                z-index: 1;
                width: 213px;
                min-height: 60px;
                background-color: $accent;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 15px;
                transition: background-color 0.4s;
                margin: 0 auto;
                span{
                    color: $white;
                    font-family: $aleoFont;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    z-index: 3;
                }
            }
            .why-button::after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                width: 52px;
                border-bottom: 60px solid #486BFE;
                border-right: 57px solid transparent;
                z-index: 2;
            }
        }
    }
}